.error {
    color: red;
}

div[fxLayout] {
    margin-top: 32px;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    z-index: 1002;
    width: 100%;
    height: 100%;
}