<div fxLayout="row" fxLayoutAlign="center" class="top-div">
    <mat-card fxFlex="800px" fxFill style="border: solid 1px white;">
        <mat-card-header>
            <mat-card-title>
                <div class="mat-headline">Current Employee Leave Request Editor</div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="content">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="2" 
            style="width:98%;border: solid 1px yellow;">
                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="2">
                    <div class="label buttons">Editable Requests</div>
                    <div class="label request">Current Request</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="2">
                    <div class="label buttons">Editable Requests</div>
                    <div class="label request">Current Request</div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>