<mat-toolbar color="primary" class="toolbarTop">
  <mat-icon svgIcon="scheduler"></mat-icon>
  <a mat-button><h1>Osan Scheduler</h1></a>
  <span class="flex-spacer"></span>
  <a mat-icon-button target="_blank" routerLink="/help"><mat-icon>help</mat-icon></a>
</mat-toolbar>
<mat-sidenav-container class="main-context">
  <mat-sidenav #sidenav mode="side" opened class="sidenav"
  [fixedInViewport]="true" [fixedBottomGap]="30" [fixedTopGap]="50">Side</mat-sidenav>
  <mat-sidenav-content style="overflow: visible;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar color="primary" class="toolbarBottom">
  <span>Footer</span>
</mat-toolbar>
