div[fxLayout] {
    margin: 0;
    padding: 0;
}

div.month {
    background-color: burlywood;
    color: black;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    margin: 0;
    height: 40px;
    width: 30px;
    border: black 1px solid;
}

div.actual {
    background-color: cyan;
    color: black;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    margin: 0;
    height: 40px;
    width: 75px;
    border: black 1px solid;
}

div.leaves {
    background-color: white;
    color: black;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    margin: 0;
    height: 40px;
    width: 202px;
    border: black 1px solid;
}

div.hours {
    background-color: blue;
    color: white;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    margin: 0;
    height: 40px;
    width: 40px;
    border: black 1px solid;
}

div.label {
    background-color: darkcyan;
    color: white;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    margin: 0;
    height: 25px;
    width: 366px;
    border: black 1px solid;
}