<form [formGroup]="dayForm">
<table class="day" [style]="display">
    <tr>
        <td>&nbsp;</td>
        <td class="date">{{leaveday.leave_date.getDate()}}</td>
    </tr>
    <tr>
        <td colspan="2" class="code">
            <select matNativeControl formControlName="leaveCode">
                <option value=""></option>
                <ng-container *ngFor="let dc of team.displayCodes">
                    <option *ngIf="dc.is_leave" [value]="dc.code">{{dc.code}}</option>
                </ng-container>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="workcenter">
            <select matNativeControl formControlName="leaveHours">
                <option *ngFor="let v of aHours, index as i" [value]="v">
                    {{sHours[i]}}
                </option>
            </select>
        </td>
    </tr>
</table>
</form>