table.day {
    margin: 0;
    padding: 0;
    border: 2px solid black;
    text-align: center;
    width: 83px;
    height: 75px;
}

td.code {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    vertical-align: bottom;
}

td.workcenter {
    margin: 0;
    padding: 0;
    height: 25px;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    vertical-align: bottom;
}

td.date {
    height: 25px;
    width: 25px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 12pt;
    font-weight: bold;
}